@font-face{
    src: url(fonts/SansitaOne.ttf);
    font-family: sansitaone;
}

@font-face{
    src: url(fonts/Sintony-Bold.ttf);
    font-family: sintonybold;
}

@font-face{
    src: url(fonts/Sintony-Regular.ttf);
    font-family: sintonyreg;
}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    width: 100%;
}

body{
    background-color: #F6E7CB;
    margin: 0px;
}

header{
    background-color: #FFF8EB;
    height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  
}

.dropdown img{
    height: 40px; /* Adjust the height as per your design */
    flex: 1;
    text-align: center;
    margin-right: 80px;
    display: flex;
    cursor: pointer;
}

.right-section img {
    height: 40px; /* Adjust the height as per your design */
    flex: 1;
    text-align: center;
    margin-left: 80px;
    display: flex;

}
.center-section img {
    height: 200px; /* Adjust the height as per your design */
}

#main{
    padding-top: 3em;
}

footer {
    font-family: sintonyreg;
    font-size: 0.8em;
    color: #406731;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: url('footerimg.png'); /* Set the grass image as the background */
    background-size: contain; /* Ensure the background image covers the entire footer */
    background-repeat: repeat-x; /* Repeat the image horizontally */
    height: 50px;
}

.copyright{
    color: #406731;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F0E8DA; /* Set your dropdown background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #678D58; /* Set your link text color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: sintonyreg;
}

.dropdown-content a:hover {
    background-color: #ddd; /* Set your link hover background color */
}

.show {
    display: block;
}

.parentflex{
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

.title{
    display: flex;
    font-family: sansitaone;
    font-size: 2em;
    color: #DD9787;
    padding-top: 1em;
    justify-content: center;
    padding-bottom: 1em;
}

.shippingdetails{
    display: flex;
}

form{
    font-family: sintonyreg;
    background-color: rgba(103, 141, 88, 0.5);
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 20px;
    border-radius: 20px;
}

.shippingdetails input[type="text"],
.shippingdetails input[type="email"],
.shippingdetails input[type="radio"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: sintonyreg;
    
}

.shippingdetails h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #406731;
}

.shippingdetails input[type="submit"] {
    background-color: #678D58;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-family: sansitaone;
    margin-top: 3em;
}

.checkout-items{
    background-color: #678D58;
    color: #F6E7CB;
    border-radius: 20px;
    margin-right: 2em;
    padding: 2em;
    font-family: sintonyreg;
}

.shippingdetails input[type="submit"]:hover{
    box-shadow: 0 12px 16px 0 rgba(52, 51, 51, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.checkout-items {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
  
.item {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
  
  /* Styles for individual item details */
.item p {
    margin: 5px 0;
    font-size: 16px;
}

.total{
    margin-top: 1em;
    font-size: 1.5em;
    color: #fff5f2;
    font-weight: bold;
}
  
